body{
    height: 100vh;
    position: relative;
}
body .container{
    max-width: 1200px;
    margin: auto;
    padding: 5px;
    font-family: 'Tourney', cursive;
}
body a:hover{
    text-decoration: none;
}

/* header */
header{
    width: 100%;
    height: 50px;
    background-color: #d00;
}
.header-item{
    line-height: 40px;
    display: flex;
}
.logo{
    height: 40px;
    margin-right: auto;
    font-size: 0;
}
.logo img{
    height:100%;
    border-radius: 5px;
}
nav{
    transform: translateX(5px);
}
nav a{
    height: 50px;
    padding: 5px 10px 0 10px;
    display: inline-block;
    transform: translateY(-5px);
    color: white;
}
nav a:hover{
    background-color: black;
    color: gold;
}
header .fa{
    padding: 0 10px;
    line-height: 50px;
    display: none;
    color: white;
}

/* main */
main{
    background-color: #eee;
}
.head{
    padding: 10px 15%;
    text-align: center;
}
.head h2{
    font-size: 3rem;
    border-bottom: red 5px solid;
    font-family: 'Tourney', cursive;
}
section{
    min-height: 70vh;
}
.calender{
    display: flex;
    justify-content: center;
    margin: 2% 0px;
    font-size: 32px;
}
.calender input{
    margin: 0 10px;
}
.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 2% 3% 2%;
    border: 3px black solid;
    border-radius: 40px;
    background-color: white;
    box-shadow: black 2px 2px 15px;;
}
.result .confirmreset{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 2px black solid;
    margin: 0 10px;
    padding: 2px 2px;
}
.result .text{
    width: 100%;
    text-align: center;
    margin: 10px 0;
    padding: 0 2%;
}
.result .choose{
    width: 100%;
}
.result p{
    font-size: 2rem;
}
.canchoose{
    display: flex;
    justify-content: center;
}
.availableseats{
    width: 80%;
    height: 50vh;
    margin: 0 auto;
    display: grid;
    grid-template-rows:1fr 2fr ;
    grid-template-columns: 1fr;
}
.availableseats .track{
    width: 100%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.availableseats .track h1{
    color: white;
    margin: 0 1%;
}
.availableseats .track .trackdash{
    width: 4.5%;
    height: 12.5%;
    margin: 0 1%;
    background-color: white;
    border: 1px black solid;
}
.availableseats .people{
    width: 90%;
    margin: 1% auto;
    display: grid;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr ;
    grid-template-columns: 1fr;
}
.availableseats .people .seatsrow{
    width: 100%;
    margin: 1% 0;
}
.availableseats .people .seatscolumn{
    width: 8%;
    height: 100%;
    margin: 0 1%;
    background-color: rgb(61, 243, 61);
    border-radius: 50%;
}
.availableseats .people .seatsrow .sold{
    width: 8%;
    height: 100%;
    margin: 0 1%;
    background-color: red;
}
.availableseats .people .seatsrow .seatscolumn p{
    display: none;
    height: 100%;
}
.disappear{
    display: none;
}

/* footer */
footer{
    width: 100%;
    height: 100px;
    background-color: black;
}
footer .footer-item{
    line-height: 90px;
    padding: 5px 50px;
    display: flex;
}
.footer-item-copy{
    margin-right: auto;
    font-size: 1.3em;
    color: white;
}
.footer-item-social{
    display: flex;
}
.footer-item-social a{
    padding: 0 10px;
    display: flex;
    align-items: center;
    color: white;
}
.footer-item-social a:hover{
    color: gold;
}


/* medium */
@media screen and (max-width:992px) {
    
}

/* small */
@media screen and (max-width:768px) {
    /* header */
    header .fa{
        display: block;
        position: absolute;
        right: 10px;
        top: 0;
        z-index: 5;
    }
    .navside{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        width: 200px;
        height: 250px;
        padding: 50px 0 0 0;
        background-color: #d00;
        z-index: 3;
        text-align: center;
        border-radius: 0 0 0 40px;
    }
    .navside a{
        transform: translateY(0);
    }
    nav a:last-child:hover{
        border-radius: 0 0 0 40px;
    }

    .calender{
        display: flex;
        flex-wrap: wrap;
    }
    .calender input{
        margin: 0 10px 10px 10px;
    }

    /* footer */
    .footer-item-copy{
        font-size: 1em;
    }
}

/* extra small */
@media screen and (max-width:600px) {
    /* word */
    .main-item h2,.main-item h3,.main-item h4,.main-item h5,.main-item h6,.main-item p{
        font-size: 1rem;
    }

    /* footer */
    footer .footer-item{
        padding: 10px 10px 0 10px;
    }
}

@media screen and (max-width:500px) {
    footer{
        height: 200px;
    }
    .footer-item{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-item-copy{
        margin-right: 0;
    }
}